
.local-services-container{
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: auto;
  padding-top: 5%;
  max-width: 1100px;
}
.local-services-item{
  width: 30%;
  text-align: center;
}

.local-services-item p {
  display : block;
  overflow-wrap: break-word;
  max-width : 90%;
  font-size: 16px;
  font-family: 'Maison Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: auto;
}

.local-services-item h4{
  color: #162438;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-family: 'Maison Neue Bold';
  padding-top: 5%;
}
.local-services-item img{
  border-radius: 6px;
  max-width: 80%;
  box-shadow: 0px 14px 20px 0px rgba(0,0,0,.15);
}
.mobile-img{
  display: none;
}
.local-service-button{
  text-align: center;
  margin-top: 5%;
}
.local-service-button button{
  border: 1px solid #7e46ea;
  background-color: #f8f9fa;
  color: #7e46ea;
  border-radius: 100px;
  width: 250px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
}

.local-service-button button:hover{
  background-color: #7e46ea;
  color: #fff;
}



/* ------------------------ mobile version ------------------------ */


@media (max-width: 35.5em){
  .local-services-container{
    flex-direction: column;
    width: 90%;
  }
  .local-services-item{
    width: 100%;
    margin: auto;
    padding: 5% 0px;
  }
  .local-services-item p {
    font-size: 14px;
  }
  .local-services-item img{
    display: none;
  }
  .local-services-item h4{
    padding-top: 1%;
  }
  .mobile-img{
    display: inline-block;
    max-width: 90%;
    margin: auto;
    box-shadow: 0px 14px 20px 0px rgba(0,0,0,.15);
    border-radius: 6px;
  }
  .local-service-button button{
    width: 50%;
  }


}
