@font-face {
  font-family: "Varela Round Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Varela Round Regular"),
    url("src/assets/fonts/VarelaRound-Regular.woff") format("woff");
}
/* @font-face {
  font-family: "Varela Round Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Varela Round Regular"),
    url("VarelaRound-Regular.woff") format("woff");
}
@font-face {
  font-family: "Varela Round Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Varela Round Regular"),
    url("VarelaRound-Regular.woff") format("woff");
}
@font-face {
  font-family: "Varela Round Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Varela Round Regular"),
    url("VarelaRound-Regular.woff") format("woff");
} */

* {
  margin: 0;
}
html {
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

.MuiPickersBasePicker-pickerView {
  min-height: unset !important;
}
.MuiPickersCalendarHeader-switchHeader {
  margin-top: 0px !important;
  background-color: #f5f8ff !important;
  color: #000 !important;
}
.MuiPickersCalendarHeader-iconButton {
  background-color: unset !important;
  color: #000 !important;
}

.MuiPickersDay-daySelected {
  background-color: black !important;
  border-radius: 8px !important;
}
/* 
.MuiPickersStaticWrapper-staticWrapperRoot {
  max-width: fit-content !important;
} */

.MuiPickersBasePicker-container {
  align-items: center !important;
  flex-direction: column-reverse !important;
}

.MuiPickersCalendar-transitionContainer {
  margin-bottom: 12px !important;
}

.MuiPickersDay-day:hover {
  border-radius: 8px !important;
}
