<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Job </h1>
     <p>
      Customer: <%= @customer.first_name %> <%= @customer.last_name %><br>
    </p>
    <p>
      Job Size: <%= @job.job_size %>.<br>
    </p>
    <p>
      Date <%= @job.pick_up_date %>.<br>
    </p>



    <p>Thanks for choosing InsightMoving and have a great day!</p>
  </body>
</html>
