#insight-gallery-page{
  text-align: center;
}
.ReactGridGallery {
  width: 60%;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1000px){
  .ReactGridGallery {
    width: 90%;
    margin: auto;
    margin-top: 5%;
  }
}

.ReactGridGallery img{
  max-width: none;
}

.insight-gallery-cover{
  background-image: url("./img/moving-gallery.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.insight-gallery-cover:before {
  background: linear-gradient(#000,transparent);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.insight-gallery-intro{
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 700px;
  padding: 8% 0;
  position: relative;
  text-align: center;
  width: auto;
  max-width: 1300px;
  margin: auto;
}
@media (max-width: 35.5em){
  .insight-gallery-intro{
    min-height: 500px;
    width: 100%;
  }
  .insight-gallery-cover{
    height: 600px;
  }
  .ReactGridGallery {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%
  }
  .gallery-img{
    margin-top: 80px;
  }
}
