#app nav.navbar{
  font-family: 'Maison Neue Demi';
  padding: 0px 0px;
}
.nav-bar-link:hover{
  text-decoration: none;
}
.nav-link:active, .nav-link:hover, .nav-link:focus{
  color: purple !important;
}
.mr-auto.navbar-nav a {
  color: black !important;
  margin-left: 10px;
  padding: 12px;
}
.navbar-nav{
  justify-content: space-between;
}

.navbar-brand a{
  color: #000;
}
.navbar-brand a:hover{
  color: #000;
  text-decoration: none;
}

.navbar-nav.mr-auto{
  width: 70%;
  margin-left: 2rem;
}

@media only screen and (max-width: 1120px) {
  .navbar-nav.mr-auto{
    width: 72%;
  }
}

@media only screen and (max-width: 990px) {
  .navbar-nav.mr-auto{
    width: 90%;
    margin-right: 12%;
    margin: auto;
  }
  .mr-auto.navbar-nav a {
    border-bottom: 1px solid grey;
    padding: 15px 0px;
  }
  .nav-button{
    width: 90%;
    margin: auto;
  }
  .nav-link button {
    margin: 25px 0px;
  }
}


@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    width: 78%;
    float: right;
  }
}



@media screen and (min-width: 300px){

  nav.navbar{
    font-size: 14px;
    padding: 5px 0px !important;
  }
  .navbar-brand {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1000px) {
  #basic-navbar-nav {
    margin-left: 40px !important;
  }

}
.navbar {
  -webkit-box-shadow: rgba(0,0,0,.1) 0 2px 4px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    color: #0c0e0f;
}
.navbar-button.btn-primary{
  border-radius: 100px;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: transparent;
}

/*Request button*/
.navbar-button.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #7e46ea;
    border-color: #7e46ea;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #7e46ea !important;
}

.navbar-button.btn-primary {
    color: #fff;
    background-color: #7e46ea;
    border-color: #7e46ea;
    font-size: 15px;
    padding: 3px 10px;
}
.navbar-button.btn-primary:hover {
    color: #fff;
    background-color: #7e46ea;
    border-color: #7e46ea;
}
.navbar-button.btn-primary:focus {
    box-shadow: 0 0 0 0 #7e46ea
}
.navbar button:focus {
    outline: none !important;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: transparent !important;
    float: left;
}
.navbar-collapse{
  overflow: hidden;
}
.logo-name{
  margin-top: 5px;
  font-size: 18px;
  display: inline-block;
}
.navbar-brand a img{
  display: none !important;
}


.nav-width{
  width: 75%;
  margin:auto;
}


@media only screen and (max-width: 35.5em) {
  .logo-name{
    display: none;
  }
  .navbar-brand a img{
    width: 83px;
    height: 31px;
    display: inline-block !important;
  }
  .navbar-nav {
    margin-top: 10px;
  }
  .nav-link button {
    margin: 25px 0px;
  }
  .navbar-nav.mr-auto{
    width: 90%;
  }
  .navbar-collapse {
    margin-top: 65px;
  }
  .mr-auto.navbar-nav a {
    border-bottom: 1px solid grey;
    padding: 15px 0px;
  }
  .nav-width {
    width: 95%;
  }
  .nav-button{
    width: 90%;
    margin: auto;
  }
  .navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-brand {
    position: fixed;
    top: 1%;
    left: 40%;
    padding: 0px !important;
  }

}
