#insight-pricing-page {
  padding-bottom: 1.25%;
  position: relative;
  transition: padding-right .2s;
  min-height: 100vh;
  margin: auto;
}
.insight-pricing-cover{
  background-image: url("https://static.cms.yp.ca/ecms/media/1/bigstock-Man-Signing-A-Contract-When-Bu-56872922-1427730291-600x360.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}
.insight-pricing-cover:before {
  background: linear-gradient(#000,transparent);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.insight-pricing-intro{
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 700px;
  padding: 8% 0;
  position: relative;
  text-align: center;
  width: auto;
  max-width: 1300px;
  margin: auto;
}


/* ----------------------------------  local rates-------------------- */

#local-rates {
  background-color: #fff;
}

.hourly-rate, .interstate-rates {
  flex-direction: column;
  text-align: center;
}
.two-h-min {
  font-family: 'Maison Neue Bold';
  font-size: 19px;
}

.discount, .standard, .peak {
  margin-top: 20px;
}



@media (max-width: 35.5em){
  .insight-pricing-intro{
      min-height: 500px;
  }
  .insight-pricing-cover{
    height: 600px;
  }
  .section-title{
    font-size: 2rem;
  }
  .section-subtitle{
    font-size: 1rem;
  }
  .two-h-min {
    font-size: 16px
  }
}



/* ----------------------------------  long distance rates-------------------- */
#long-distance-rates {
  background-color: #fbfbfd;
  padding: 8% 0px;
}

.cards {
  display: flex;
  margin: auto;
  padding-top: 5%;
  height: 500px;
  width: auto;
  max-width: 960px;

}

.flat-prices{
  padding: 0px 5%;
  width: 75%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
}

.card-description{
  width: 90%;
  margin: 0px auto;
  font-family: 'Maison Neue Bold';
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #7e46ea;
}
.card-description p{
  font-size: 16px;
}

.card-rates{
  text-align: initial;
}

.card-buttons{
  margin-top: 10%;
}

.card-buttons button{
  background-color: #7e46ea;
  border-radius: 100px;
  padding: 5px 15px;
  font-size: 14px;
  color: #fff;
}

.card-buttons button:hover{
  background-color: #7e46ea;
}

.card-rates{
  height:250px;
  width:100%;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'Maison Neue',sans-serif;
}

.card-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 8px;
}

.card-rates::-webkit-scrollbar-thumb {
  background: #7e46ea;
  border-radius: 10px;
}
.card-rates::-webkit-scrollbar {
  width: 7px;
}
.flat-amount{
  float: right;
  margin-right: 5%;
}
.long-distance-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  width: 90%;
}


@media only screen and (max-width: 960px) {
  .cards{
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .big-image{
    display: none;
  }
  .long-distance-body .services-section{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    margin: auto;
  }
  .storage-service {
    padding: 5% 5%;
  }
}



@media (max-width: 35.5em){
  #insight-pricing-page {
    width: 100%;
  }
  .cards{
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .card-description{
    width: 90%;
  }
  .flat-prices{
    width: 100%;
  }
  .card-wrapper img {
    display: none
  }
  .card-rates{
    margin: 20px auto;
  }
  .card-description p{
    font-size: 16px;
  }
  .card-rates::-webkit-scrollbar {
    width: 5px;
  }
  .card-buttons button{
    font-size: 14px;
    padding: 12px 25px;
    margin-top: 5%;
  }
  .card-buttons {
    margin-top: 0px;
  }
  .card-rates::-webkit-scrollbar-thumb {
    background: #7e46ea;
    border-radius: 10px;
  }
  .card-rates::-webkit-scrollbar {
    width: 5px;
  }

}


/* ----------------------------------  storage rates-------------------- */

#storage-rates{
  background-color: #fff;
  width: auto;
  max-width: 1300px;
}
.service-container-storage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 1.25% auto;
}

.storage-rate-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}
.service-header-storage{
  /* text-align: center;
  background-color: #fafafa; */
  margin-bottom: 1.7%;
  /* padding: 10%; */
  /* background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.75)
    ),
    url("https://www.securitypublicstorage.com/sites/default/files/richmond%20self%20storage%20drive%20up.jpg"); */
    background-color: #000;
    /* background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
}
.service-header-title-storage {

  font-family: 'Maison Neue Bold';
  font-size: 45px;
  color: #fff;
  margin: 0;
  padding: 20px;
}
.service-header-subtitle-storage {
  font-size: 18px;
  line-height: 27px;
  font-family: 'Maison Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  margin: 0px auto;
  width: 60%;
}

.storage-service{
  width: 49%;
  padding: 8% 5%;
  background-color: #fafafa;
  font-family: 'Maison Neue Bold';
}

.storage-service p{
  font-size: 16px;
    font-family: 'Maison Neue',sans-serif;
    -webkit-font-smoothing: antialiased;
}
.storage-service p span{
  font-family: 'Maison Neue Bold';
  -webkit-font-smoothing: antialiased;
}
.storage-service h3{
  color: #7e46ea;
  margin-top: 25px;
  font-size: 25px;
}
.storage-service img{
  width: 300px;
  margin: -20px auto;
}
.overnight-fee{
  color: #7e46ea;;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Maison Neue Bold' !important;
  -webkit-font-smoothing: antialiased;
}
.storage-rates{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}
.size-move{
  margin-bottom: 0px;
  color: #7e46ea;
  font-size: 18px;
  font-family: 'Maison Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
}
.rate-mo{
  color: #7e46ea;;
  font-size: 18px;
  font-family: 'Maison Neue Bold' !important;
  -webkit-font-smoothing: antialiased;

}


.storage-img{
  width: 50%;
  padding: 3% 0px 0px 0px;
}
.storage-text{
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 60%;
}


.storage-img img{
  float: right;
  height: 300px;
  width: 100%;
}


@media (max-width: 35.5em){
  .storage-rate-container{
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

  }
  .storage-service{
    width: 100%;
    margin:auto;
  }
  .storage-service img{
    width: 300px;
    margin:auto;
  }
  .storage-service p{
    font-size: 14px;
  }
  .storage-service h4{
    font-size: 20px;
  }
  .storage-service h3{
    margin-top: 20px;
    font-size: 20px;
  }
  .storage-img, .storage-text p{
    display: none;
  }
  .storage-text {
      width: auto;
      margin: auto;
  }
  .service-header-title-storage {
    font-size: 25px;
  }
  .insight-pricing-intro {
    width: 100%;
  }
  #storage-rates {
    width: 100%;
  }

}
